<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Speaker Recognition</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="page-header">
            <div style="width: 600px">
                <table class="table">
                    <tr>
                        <td colspan="2">
                            <h1> Speaker Recognition <small>Azure</small></h1>
                            <p>
                                1) 프로필 만들기. 한 구독은 최대 1만 스피커를 만들 수 있습니다. <br>
                                2) 프로필 등록. 기존 프로필에 음성을 등록합니다. 요청 음성 길이는 15초-20초입니다.<br>
                                3) 프로필 확인. 기존 프로필과 음성을 비교합니다. 최소 유효 음성 길이는 4초입니다. <br>
                            </p>
                        </td>
                    </tr>
                    <tr id="tr-profile" style="display: block">
                        <td colspan="2">
                            <button id="btn-create-profile" type="button" class="btn btn-default btn-lg" onclick="createProfile()">프로필 생성</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h4>생성된 프로필 아이디</h4> <input type="text" class="form-control" id="profileId">
                        </td>
                    </tr>
                    <tr id="tr-record" class="active" style="display: none">
                        <td class="active">
                            <button id="btn-start-recording" type="button" class="btn btn-danger btn-lg" >
                                <span class="glyphicon glyphicon-record" aria-hidden="true" ></span> 녹음시작
                            </button>
                            <button id="btn-stop-recording" type="button" class="btn btn-default btn-lg" th:disabled="true">정지</button>
                        </td>
                        <td class="active">
                            <audio id="audio" controls></audio>
                        </td>
                    </tr>
                    <tr id="tr-enrollment" style="display: none">
                        <td colspan="2">
                            <button id="btn-create-enrollment" type="button" class="btn btn-default" onclick="createEnrollment()">프로필 음성 등록</button>
                        </td>
                   </tr>
                    <tr id="tr-result" style="display: none">
                        <td colspan="2">
                            <h4>프로필 음성 일치 결과</h4>
                            <textarea class="form-control" style="width: 560px" rows="4" id="result"></textarea>
                        </td>
                    </tr>
                    <tr id="tr-verify" style="display: none">
                        <td>
                            <button id="btn-verify-profile" type="button" class="btn btn-default" onclick="verifyProfile()">프로필 확인</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="resetView()">새로운 프로필 생성</button>
                        </td>
                    </tr>
                </table>

                </form>
            </div>

        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" xmlns:th="https://cdn.WebRTC-Experiment.com/RecordRTC.js"></script>
        <script type="text/javascript" th:inline="javascript" xmlns:th="http://www.w3.org/1999/xhtml">

            var voice;

            function resetView() {
                document.getElementById('profileId').value = null;
                document.getElementById('result').value = null;
                document.getElementById('tr-profile').style.display = "block";
                document.getElementById('tr-record').style.display = "none";
                document.getElementById('tr-enrollment').style.display = "none";
                document.getElementById('tr-verify').style.display = "none";
                document.getElementById('tr-result').style.display = "none";
            }

            function createProfile() {
                document.getElementById('tr-record').style.display = "block";
                document.getElementById('tr-enrollment').style.display = "block";
                document.getElementById('tr-profile').style.display = "none";

                $.ajax({
                    type: 'POST',
                    url: '/maist/recognition/profiles',
                    dataType: 'json',
                    contentType:'application/json; charset=utf-8',
                }).done(function(response) {
                    document.getElementById('profileId').value = response.data.profileId;
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });
            }

            function createEnrollment() {

                var profileId = document.getElementById('profileId').value;
                var formData = new FormData();
                formData.append('files', voice);

                $.ajax({
                    type: 'POST',
                    url: '/maist/recognition/profiles/'+profileId+'/enrollments',
                    processData: false,
                    contentType: false,
                    data: formData,
                }).done(function(response) {
                    alert("프로필 음성 등록 완료");
                    document.getElementById('tr-enrollment').style.display = "none";
                    document.getElementById('tr-verify').style.display = "block";
                    document.getElementById('tr-result').style.display = "block";

                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });
            }

            function verifyProfile() {

                var profileId = document.getElementById('profileId').value;
                var formData = new FormData();
                formData.append('files', voice);

                $.ajax({
                    type: 'POST',
                    url: '/maist/recognition/profiles/identify?profileIds='+profileId,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                }).done(function(response) {
                    alert("프로필 음성 확인");
                    var verifyResult =
                        "일치 프로필 ID: " + response.data.identifiedProfile.profileId
                        + " 점수: " + response.data.identifiedProfile.score
                        + " 프로필 랭킹: " + JSON.stringify(response.data.profilesRanking);
                    document.getElementById('result').value = verifyResult;
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });
            }

            var recordButton, stopButton, recorder;

            window.onload = function () {
                recordButton = document.getElementById('btn-start-recording');
                stopButton = document.getElementById('btn-stop-recording');

                navigator.mediaDevices.getUserMedia({
                    audio: true
                })
                    .then(function (stream) {
                        recordButton.disabled = false;
                        recordButton.addEventListener('click', startRecording);
                        stopButton.addEventListener('click', stopRecording);
                        recorder = new MediaRecorder(stream);
                        recorder.addEventListener('dataavailable', onRecordingReady);
                    });
            };

            function startRecording() {
                recordButton.disabled = true;
                stopButton.disabled = false;
                recorder.start();
            }

            function stopRecording() {
                recordButton.disabled = false;
                stopButton.disabled = true;
                recorder.stop();
            }

            function onRecordingReady(e) {
                var audio = document.getElementById('audio');
                audio.src = URL.createObjectURL(e.data);
                audio.play();
                voice = e.data;
            }
        </script>
    </body>
</html>